body {
	font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ededed;
}

#display {
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0px 2px 2px #AAA inset;
	border-radius: 5px;
	background-color: #e5e5e5;
}

.option-label {
	width: 6em;
	display: inline-block;
	text-align: right;
}

.option-readout {
	width: 2em;
	display: inline-block;
}

controls {
	display: block;
	margin: 0 auto;
	width: 30em;
	background-color: #e5e5e5;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 2px 2px #AAA inset;
	border-radius: 5px;
	margin-bottom: 2em;
}

log {
	display: block;
	margin: 0 auto;
	width: 30em;
	background-color: #e5e5e5;
	height: 10em;
	overflow:scroll;
	background-color: #fff;
}

logheader {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 30em;
	background-color: #ededed;
	border: 1px solid #b6b6b6;
	box-sizing: border-box;
	background-image: linear-gradient(bottom, rgb(237,237,237) 26%, rgb(255,255,255) 72%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 26%, rgb(255,255,255) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 26%, rgb(255,255,255) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 26%, rgb(255,255,255) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 26%, rgb(255,255,255) 72%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.26, rgb(237,237,237)),
		color-stop(0.72, rgb(255,255,255))
	);
}

logentry {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

logentry:hover {
	background-color: #b5d5ff;
}

.logtime, .logits, .loglogarithm {
	width: 10em;
	display: inline-block;
	margin: 0;
	padding: 0;
}

logheader .loglogarithm {
	width: 9.5em;
}

controls input[type=range] {
	width: 16em;
	vertical-align: -0.4em;
}